{% extends "base.html" %}

{% block content %}
<label for="azubis">Betrieb: {{ausbilder.ausbilder_betrieb}}<br>
  Ausbilder: {{ausbilder.ausbilder_name}}, {{ausbilder.ausbilder_vorname}} ({{ausbilder.ausbilder_email}})
</label>

<table id="azubis">
  <tbody>

    <tr>
      <th style="width:110px;">Profilname</th>
      <th style="width:200px;">Nachname</th>
      <th style="width:200px;">Vorname</th>
      <th>Klasse</th>
    </tr>
    
    {% for azubi in azubi_liste %}

    <tr>
      <td>{{azubi.schueler_untis_id}}</td>
      <td>{{azubi.schueler_familienname}}</td>
      <td>{{azubi.schueler_rufname}}</td>
      <td>{{azubi.klasse}}</td>
    </tr>

    {% endfor %}
  </tbody>
</table>

{% endblock %}