<!doctype html>
<html lang="de">

<head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" >
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" >
</head>

<body>
    <div class="container">
        <h2 class="tss">&nbsp;</h2>
        <h1>{{ title }}</h1>
        {% with messages = get_flashed_messages(with_categories=true) %} 
            {% if messages %} 
                {% for category, message in messages %}
                    <div class="flash {{ category }}">
                        {{ message }}
                    </div>
                {% endfor %} 
            {% endif %} 
        {% endwith %}
        
        <hr>

        {% block content %} 
        
        {% endblock %}
    </div>
    <div class="footer">
        <span>This program comes with ABSOLUTELY NO WARRANTY. This is Free Software
            and you are welcome to redistribute it under certain conditions.</span>
    </div>
</body>

</html>