{% extends "basis.html" %}

{% block content %}
{% if liste_erfolgreich %}
<label for="azubiListeJA">
    Erfolgreich mit Ihrer Mailadresse verknüpft:<br>
    Ausbilder: {{ausbilder.ausbilder_name}}, {{ausbilder.ausbilder_vorname}} ( {{ausbilder.ausbilder_email }} )
</label>

<table id="azubiListeJA" class="success">
    <tbody>
        <tr>
            <th style="width:110px;">Profilname</th>
            <th style="width:170px;">Nachname</th>
            <th style="width:170px;">Vorname</th>
            <th>Klasse</th>
        </tr>
        {% for schueler in liste_erfolgreich %}

        <tr>
            <td>{{schueler.schueler_untis_id}}</td>
            <td>{{schueler.schueler_familienname}}</td>
            <td>{{schueler.schueler_rufname}}</td>
            <td>{{schueler.klasse}}</td>
        </tr>
        {% endfor %}
        
    </tbody>
</table>
{% endif %}

{% if liste_fehler %}
<label for="azubiListeNEIN">Nicht in Datenbank gefunden:</label>
<table id="azubiListeNEIN" class="error">
    <tbody>
        <tr>
            <th>Profilname</th>
        </tr>
        {% for schueler in liste_fehler %}
        <tr>
            <td>{{schueler}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}