Sehr geehrte Damen und Herren,<br>
<p>{{INFOTEXTE['mail_1']}}</p>
<strong>WICHTIG</strong>
<p>{{INFOTEXTE['mail_2']}}</p>
<p>
    Sollten Sie weitere Fragen haben, wenden Sie sich bitte an: 
     <a href="mailto:{{kontakt_person['mail']}}">{{kontakt_person['name']}} ({{kontakt_person['mail']}})</a>
</p>


<dl>
    <dt><b><u>Daten: </u></b></dt>
    <dd>Betrieb: {{ausbilder.ausbilder_betrieb}}</dd>
    <dd>Ausbilder: {{ausbilder.ausbilder_name}}, {{ausbilder.ausbilder_vorname}}</dd>
    <dd>E-Mail: {{ausbilder.ausbilder_email}}</dd>
    <dt><b><u>Links: </u></b></dt>
    <dd>
        <dd>BESTÄTIGUNG: <a href="{{server_url}}azubismitausbilder.html?token={{ausbilder.token}}">{{server_url}}azubismitausbilder.html?token={{ausbilder.token}}</a></dd>
        <dd>WEITERE AZUBIS: <a href="{{server_url}}?token={{ausbilder.token}}">{{server_url}}?token={{ausbilder.token}}</a></dd>
    </dd>
</dl>
